.tips {
  margin: 5px -40px 0 -20px; }
  .tips .tip {
    text-align: center;
    width: 60px;
    height: 40px;
    font-family: 'CirceRegular';
    font-size: 12px;
    line-height: 18px;
    color: #000000; }

.invisible {
  display: none; }
